# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-random-nextauth-secret

# Google OAuth
GOOGLE_CLIENT_ID=43887409986-ns049jtn5ia0s8smf8odclsg9cmtm5k7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# API URL
NEXT_PUBLIC_API_URL=http://localhost:3001/api 